.jumbotron{
	max-width: 500px;
	margin: auto;
    margin-top: 6%;
    a{
    	color: #343a40!important;
    }
    
}

.title{
	font-size: 24px;
}

.avatar{
	margin-right: 15px;
	width:50px;
	height:50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.nameWrapper{
	display: inline-flex;
	align-items: center;
	margin-bottom: 0!important;	
}