.jumbotron{
	width: 500px;
	margin: auto;
    margin-top: 6%;
}

.title{
	font-size: 24px;
}

.login_taken{
	font-size: 12px;
	color: #e74b41;
	display: none;
}

.success{
    font-size: 72px;
    color: #28a745;
    text-align: center;
}