.jumbotron{
	width: 500px;
	margin: auto;
    margin-top: 6%;
}

.title{
	font-size: 24px;
}

@import "../../App.scss";
:export { baseColor: $base-color; }

.label{
	color:$base-color;
	font-size: 28px;
	cursor: pointer;
}

.image{
	height: 255px;
    width: 255px;
	background-size: cover;
	background-position: center;
	border-radius: 5px
}

.col{
	margin-bottom: 20px;
}
.delete{
	cursor: pointer;
	right: 25px;
    top: 10px;
    font-size: 18px;
    position: absolute;
    background: #e74b41;
    border-radius: 3px;
    display: none;
}

.image:hover .delete{
	display: block;
}

#imageRow{
	margin-top: 15px;
}

.avatar{
	margin-right: 15px;
	width:50px;
	height:50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.nameWrapper{
	display: inline-flex;
	align-items: center;
	margin-bottom: 0!important;	
}

.editButton{
	font-size: 18px;
	margin-left: 15px;
	cursor: pointer;
	color: $base-color;
	&:hover{
		color:darken($base-color, 5);
	}
}